@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; font-family: 'sans-serif','微軟正黑體'; }

ol, li, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { max-width: 100%; height: auto; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap { max-width: 960px; margin: 0 auto; }

body { line-height: 1.5; background-color: #f5f5f5; }

/*header start*/
.header { background-color: #424242; }

.header-items { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 3rem; }

.cm-kg label { color: #ffd366; }

.cm-kg input { width: 100%; width: 250px; border: 2px solid #ffd366; border-radius: 10px; background-color: #646464; padding: 8px 1rem; color: #b1b1b1; margin-top: 5px; font-size: 20px; outline: none; }

.cm-kg input:not(:last-child) { margin-bottom: 8px; }

.send :focus { outline: none; }

.send input { font-size: 20px; background-color: #ffd366; color: #424242; padding: 1rem; border-radius: 50%; width: 120px; height: 120px; cursor: pointer; }

.send input:hover { -webkit-box-shadow: 0 0 6px 3px rgba(255, 196, 50, 0.64); box-shadow: 0 0 6px 3px rgba(255, 196, 50, 0.64); }

.send input:active { background-color: #DEA921; }

/*header end*/
/*history start*/
.history { margin: 30px 0; }

.title { text-align: center; margin: 30px 0; }

.delete { text-align: center; }

.delete-all { background-color: #ffd366; padding: 5px; border-radius: 5px; cursor: pointer; border: 1px solid #ffd366; margin-top: 30px; }

.delete-all:hover { -webkit-box-shadow: 0 0 3px 2px #DEA821; box-shadow: 0 0 3px 2px #DEA821; }

.record li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; border-left: 5px solid #000; padding: 20px; }

.record li:not(:last-child) { margin: 0 0 20px; }

.record li.green { border-color: #86D73F; }

.record li.blue { border-color: #31BAF9; }

.record li.orange { border-color: #FF982D; }

.record li.lightorange { border-color: #FF6C03; }

.record li.mediumorange { border-color: #FF6C03; }

.record li.overorange { border-color: #FF1200; }

.record li span { font-size: 12px; }

.record li span a:hover { color: #FF1200; }

.record li > div { font-size: 20px; width: 20%; }

/*history end*/
/*footer stat*/
.footer { background-color: #ffd366; text-align: center; padding: 1rem; }

.footer-logo { width: 55px; height: 55px; display: inline-block; }

.logo-img { padding: 1rem; background-image: url(../images/BMICLogo.png); font-size: 0; -webkit-filter: drop-shadow(55px 0 #5a5757); filter: drop-shadow(55px 0 #5a5757); position: relative; left: -55px; background-size: cover; height: 100%; width: 100%; }

/*footer end*/
